<section class="panel color2">
	<div class="inner columns">
   <div class="span-2">
      <h2 class="major">Painel Admnistrativo</h2>
        <ul class="actions stacked">
          <li><a href="/admin/categorias" class="button primary color2">Gerenciar Categorias</a></li>
          <li><a href="/admin/vagas" class="button primary color2">Gerenciar Vagas</a></li>
        </ul>
      </div>
  </div>
</section>