<section class="panel color2">
  <div class="inner columns">
  <div class="span-5">
    <h2 class="major">Preencha todos campos para criar uma nova categoria:</h2>
    <form method="post">
      <div class="fields">
        <div class="field third">
          <label for="categoria">Nome da Categoria</label>
          <input type="text" name="categoria" id="demo-name" value=""  placeholder="Digite o nome da categoria" />
        </div>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Criar Categoria" class="primary color2" /></li>
        <li><a href="/admin/categorias" class="button button1">voltar</a></li>
      </ul>
    </form>
  </div>
  </div>
</section>