<section class="panel color2">
  <div class="inner columns">
    <div class="content span-3">
      <h2 class="major">Admnistrar Vagas</h2>
      <a href="vagas/nova" class="button primary color2">Nova Vaga</a>  
      {{#each vagas}} 
      <a href="vagas/editar/{{id}}" class="button">{{titulo}}</a>
      {{else}}
      <a href="#" class="button">Sem Vagas no momento</a>
      {{/each}}
    </div>
    <div class="content span-1">
      <ul class="actions">
        <li><a href="/admin" class="button primary color2 circle icon solid fa-angle-left">Next</a></li>
      </ul>
    </div>
  </div>
</section>