<section class="panel color3">
	<div class="inner columns aligned">
			<div class="span-2 ">
					<h2 class="major">Informações</h2>
						<blockquote>Um sistema simples de postagem de vagas, filtrada por categorias,
							 o sistema é simples com um painel admnistrador onde têm um CRUD simples,
							 é utilizado um banco sqlite e a template engine utilizada é handlebars.
							 <br><br>
							 obs: o tema(css) não foi criado por mim, pois o foco era criar um sistema, porém foi editado
							 para ter um toque mais clean, e com as cor azul.
							 </blockquote>
			</div>
	</div>
</section>